extends layout

block content
  h1= title
  p Welcome to #{title}

  h2= apiInfo.title
  h3 Users
  p= apiInfo.REST_allUsers
  p= apiInfo.REST_userName
  p= apiInfo.REST_userid
  br
  h3 Blogs
  p= apiInfo.REST_allBlogs
  p= apiInfo.REST_blogid
  h3 Login
  p= apiInfo.REST_login

  h3 Error
  p= apiInfo.REST_error
